/* imports  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* navbar */
.navbar {
    color: white;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between ;
    background-color: black;
    align-items: center;
}

.navbar h1 {
    font-size: 100;
}

#strong{
    text-decoration: underline;
    text-decoration-color: #ed661f;
    text-underline-position: below;
    padding-bottom: 5%;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.links ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 30px;
}


.nav-btns {
    align-items: center;
    list-style: none;
}

#get-btn {
    padding: 10px 20px;
    background-color: #ED661F;
    font-size: larger;
    cursor: pointer;
    border: none;
}


/* background */
.image-flex{
    display:flex;
    margin:10px auto; 
    gap: 2rem; 
}

.image-flex {
    width: 100%;
    

    justify-content:center;
    background-image: url('../images/image 1.png');
    background-size: cover;
    background-position: 100% 100%;
}

.ingridients{
    width: 100%;
    height: 100%;
}
.image-flex img {
    width: 100%;
    height: 100%;
} 

.back-img {
    padding: 7%;

}

#text{
    text-align: left;  

}
#button-2{
    cursor: pointer;
    font-size: x-large;
    background-color: #ED661F;
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.vendors{
    display: flex;
    gap: 2rem;
    justify-content: center;
    



}
.why-we{
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    gap: 20px;
}
#img2{
    width: 100%;
    height: 100%
}


.products-categories h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    
}

.products-categories #details{
    text-align: center;
    font-weight: 300;
}

.popular-container {
 padding: 4% 8%;
}

.popular-container h2{
    padding-bottom: 2%;
}

.popular-container h1{
    text-align: end;
}

.flex-popular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.2rem;
}



.popular-card img {
    width: 100%;
    /* height: 100%; */
}


/* customers */
.our-customers {
    margin: 0 8%;
}

.customers-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-icons {
    padding: 4% 4% 2% 2%;
    box-shadow: 0px 4px 4px 4px whitesmoke;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.icons {
    color: #ED661F;
    font-size: 38px;
}
#img1{
    display: flex;
    flex-direction: row;
}

.subscribe{
    background-color: black;
    padding: 5% 5% 5% 5%;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}
.subscribe{
    flex: auto;
    align-items: center;
    justify-content: center;
}
.subscribe h1{
    text-align: center;
}
.subscribe p{
    text-align: center;
    font-weight: bold;
}

.btn3 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    
}
#sub{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 5%;
    background-color: #ED661F;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration-color: white;
}
#text3{
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-right: 2%;
    border: none;
}







